<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>common_data_action</servlet-name>
        <servlet-class>com.interactive.classroom.common.data_action</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>common_data_action</servlet-name>
        <url-pattern>/common_data_action</url-pattern>
    </servlet-mapping>
    <!-- ================  project begin =================           -->
    <servlet>
        <servlet-name>project_file_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.project.file.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>project_file_servlet_action</servlet-name>
        <url-pattern>/project_file_servlet_action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>project_investigation_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.project.investigation.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>project_investigation_servlet_action</servlet-name>
        <url-pattern>/project_investigation_servlet_action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>project_vote_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.project.vote.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>project_vote_servlet_action</servlet-name>
        <url-pattern>/project_vote_servlet_action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>project_document_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.project.document.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>project_document_servlet_action</servlet-name>
        <url-pattern>/project_document_servlet_action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>statistic_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.statistic.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>statistic_servlet_action</servlet-name>
        <url-pattern>/statistic_servlet_action</url-pattern>
    </servlet-mapping>
    <!-- ================  project end =================           -->
    <!-- ================  forum begin =================           -->
    <servlet>
        <servlet-name>forum_file_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.forum.file.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forum_file_servlet_action</servlet-name>
        <url-pattern>/forum_file_servlet_action</url-pattern>
    </servlet-mapping>
    <!-- ================  forum end =================           -->
    <!-- ================  clinic begin =================           -->
    <servlet>
        <servlet-name>clinic_pay_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.clinic.pay.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clinic_pay_servlet_action</servlet-name>
        <url-pattern>/clinic_pay_servlet_action</url-pattern>
    </servlet-mapping>
    <!-- ================  clinic end ================= -->


    <servlet>
        <servlet-name>investigation_core_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.investigation.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>investigation_core_servlet_action</servlet-name>
        <url-pattern>/investigation_core_servlet_action</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>vote_statistic_servlet_action</servlet-name>-->
<!--        <servlet-class>vote.statistic.ServletAction</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>vote_statistic_servlet_action</servlet-name>-->
<!--        <url-pattern>/vote_statistic_servlet_action</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>vote_file_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.vote.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vote_file_servlet_action</servlet-name>
        <url-pattern>/vote_file_servlet_action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>user_info_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.user.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_info_servlet_action</servlet-name>
        <url-pattern>/user_info_servlet_action</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>file_core_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.file.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>file_core_servlet_action</servlet-name>
        <url-pattern>/file_core_servlet_action</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>homework_core_servlet_action</servlet-name>
        <servlet-class>com.interactive.classroom.homework.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homework_core_servlet_action</servlet-name>
        <url-pattern>/homework_core_servlet_action</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.interactive.classroom.download.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.interactive.classroom.upload.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProgressServlet</servlet-name>
        <servlet-class>com.interactive.classroom.upload.ProgressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProgressServlet</servlet-name>
        <url-pattern>/ProgressServlet</url-pattern>
    </servlet-mapping>



</web-app>