label{
    position: relative;
}
#fileinp{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: none;
}
#btn{
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    background: #00b0f0;
    color: #FFF;
    border: none;
    border-radius: 5px;
}
.btn_input{
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    background: #00b0f0;
    color: #FFF;
    border: none;
    border-radius: 5px;
}
#text{
    color: red;
}